body{
    font-family: sans-serif;
}
 
#title {
    color: #fff;
    background-color: #ff4c68;

}

html{
    scroll-behavior: smooth;
}

h1, h2, h3 {
    font-family: 'Montserrat', sans-serif;

}

h2{
    font-size: 3rem;
    line-height: 1.5;
}


p{
    color: #8f8f8f;
}
.container_fluid{
    padding: 3% 15% 7%;
}


.big-heading{
    font-size: 3.5rem;
    line-height: 1.5;
}



.nav_item{
    padding: 0 18px;

}


.navbar{
    padding:0 0 4.5rem;

}



.navbar-brand{
    font-family: 'Ubuntu', sans-serif;
    font-size: 2.5rem;
    font-weight: bold;
    
}

.download-btn{
    margin: 5% 3% 5% 0;
    
}

.title-img{
    width: 60%;
    transform: rotate(25deg);
    /* z-index: -1; */
    position: absolute;
    right: 30%;
}

#features{
    padding: 7% 14%;
    background-color: #fff;
    position: relative;
    /* z-index: 1; */
}

.feature-box{
    text-align: center;
    padding: 5%;
}

.icon{
    color: #ef8172;
    margin-bottom: 1rem;;
}

.icon:hover{
    color: #ff4c68;
}

#testimonials{
   
    text-align: center;
    background-color: #ef8172;
    color: white;

}

.testimonial_image{
    width: 10%;
    border-radius: 100%;
    margin: 20px;
}

#press{
    background-color: #ef8172;
    text-align: center;
    padding-bottom: 3%;
}

.press-logo{
    width: 15%;
    margin: 20px 20px 50px;
}


.carousel-item{

    padding: 7% 14%;
}

#pricing{
    padding: 100px;
    text-align: center;
}

.pricing-col{
    padding: 3% 2%;
}

#cta {
    background-color: #ff4c68;
    text-align: center;
    padding: 7% 15%;
    color: #fff;
}

#footer {
    background-color: #fff;
    text-align: center;
    padding: 7% 15%;
}

.footicon{
    margin: 20px 10px;
}

@media (max-width: 1028px){
    .title-img{
        position: static;
        transform: rotate(0);
    }
    #title{
        text-align: center;
    }
}
